.list-wrapper {
    min-height: 100px;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    border: solid;
    margin-top: 0.5em;
    margin-bottom: 1em;
    user-select: none;
}

.constant {
    color: blue;
}

.constructors {
    color: brown;
}

.ind_fn {
    color: darkorchid;
}

.macro {
    color: darkblue;
}

.fn {
    color: blueviolet;
}

.sysfn {
    color: darkblue;
}

.freeVar {
    font-weight: bold;
}

.boundedVar {
    color: #595;
}

.universe {
    color: rgb(107, 107, 107);
}

.replvar {
    color: brown;
}

#panel>button {
    border-width: 1px;
    border-radius: 6px;
    background-color: #f4ffe2;
    font-size: 1.2em;
    margin: 5px;
    padding: 10px 30px 10px 30px;
}

#panel>button:hover {
    border-color: coral;
    color: red;
}

#panel>div {
    display: none;
}

#panel>div.show {
    display: block;
}



.list-wrapper::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 4px;
}

.list-wrapper::-webkit-scrollbar {
    background-color: lightgray;
    height: 8px;
    width: 8px;
}

h1 {
    text-align: center;
}

.dlist-option label {
    width: 120px;
}

.footer .right {
    float: right;
}

.cmd-btns button {
    width: 120px;
    height: 40px;
}

.list {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    cursor: pointer;
    display: grid;
    width: 100%;
    min-width: 500px;
    grid-template-columns: min-content auto repeat(6, max-content);

}

.list .idx {
    border-right: 2px solid #999;
    /* width: 32px; */
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: small;
    background-color: ivory;
    text-align: center;
    line-height: 25px;
}

.macro-substep {
    color: #999;
}


.val:nth-of-type(16n+2),
.info:nth-of-type(16n+3),
.info:nth-of-type(16n+4),
.info:nth-of-type(16n+5),
.info:nth-of-type(16n+6),
.inhabitat div.wrapper:nth-of-type(2n+1),
.info:nth-of-type(16n+7) {
    background-color: aliceblue;
}

.list .val {
    width: 100%;
    padding-left: 3px;
}

.list .val:hover {
    background-color: orange;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 8px;
    right: 8px;
    background-color: rgba(240, 240, 230, 0.9);
    border-radius: 5px;
    padding: 5px;
}

.footer input {
    width: calc(100% - 8px);
}

.info {
    float: right;
    color: #999;
    right: 36px;
}

#hint {
    max-height: 100px;
    overflow-y: scroll;
}

.highlighted {
    color: white;
}

.highlighted span {
    color: white;
}

#hyper {
    width: 100%;
    height: 80vh;
}

@keyframes hint-anim {
    0% {
        color: rgba(255, 0, 0, 0);
        top: 40%;
        right: 40%;

    }

    20% {
        color: rgba(255, 0, 0, 1);
        background-color: rgba(255, 255, 255, 0.2);
        top: 0px;
        right: 0px;
    }

    80% {
        color: rgba(255, 0, 0, 0.6);
        background-color: rgba(255, 255, 255, 1);
    }

    100% {
        background-color: rgba(255, 255, 255, 0);
        color: rgba(255, 0, 0, 0);

    }
}
button{
    user-select: none;
}
button.danger {
    font-weight: bold;
    color: red;
}

div.hintbar {
    top: 0px;
    right: 0px;
    position: fixed;
    animation-name: hint-anim;
    animation-duration: 5s;
    animation-fill-mode: both;
}

.inhabitat-modify {
    border-radius: 4px;
    border: 0;
    background-color: #AAA;
    color: white;
    width: 20px;
    margin-right: 1px;
}

.inhabitat-div {
    width: calc(100% - 32px);
    display: inline-block;
}

.inhabitat-div:hover {
    background-color: orange;
}
.infering{
    border: solid;
    border-color: rgb(255, 242, 0);
}
.error {
    border: solid 1px;
    border-color: red;
}


.inhabitat input {
    width: calc(100% - 32px);
}
.mediumlighted{
    background-color: rgba(0,0,0,0.1);
    border-radius: 2px;
}

#tactic-input {
    width: calc(100% - 64px);
}

#tactic-errmsg {
    color: red;
}
#tactic-hint .highlighted{
    color:orange;
}
#tactic-list .highlighted{
    color:orange;
}
.hide {
    display: none;
}

.blocked {
    display: block;
}

.float-type {
    position: absolute;
    border: solid;
    background-color: rgba(240, 240, 230, 0.9);
    border-radius: 2px;
}